<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Crappy Spotify{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/nav.css') }}">

    {% block css %}
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <main>
      {% block content %}
          {# TODO: dont show this unless user.is_superuser #}
          <p>
              This is the base template that includes required css and should be extended
              by all other templates to keep code DRY
          </p>
      {% endblock %}
  </main>
<main>
</main>
    
</body>
</html>