<div class="topnav" id="myTopnav">
  <a href="/" id="home">Home</a> <!--onclick="activeFunction('home')"-->
  <a href="/crap/" id="crap">Crap</a> <!--onclick="activeFunction('crap')"-->
  <a href="/crappy/" id="crappy">Crappy crap</a> <!--onclick="activeFunction('crappy')"-->
  <a href="/shit/" id="shit">Crappy shit</a> <!--onclick="activeFunction('shit')"-->
</div>

  <script>    
        current_page = document.location.href           
        if (current_page.match("/crappy/")) {
          document.getElementById("crappy").classList.add("active");
        } else if (current_page.match("/crap")) {
          document.getElementById("crap").classList.add("active");
        } else if (current_page.match("/shit/")) {
          document.getElementById("shit").classList.add("active");
        } else if (current_page.match("/")) {
          document.getElementById("home").classList.add("active");
        }

 </script>