{% extends 'base.html' %}

{% block title %}Add Throuple{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
{% endblock %}

{% block content %}
    <div id="submit_form">
        <div id="submit1_form"></div>
            <h1>Add a new Throuple!</h1>
            <form method="post">
                    <p>
                        <label for="song"></label>
                        <input type="text" name="song"
                            placeholder="Song title" required>
                        </input>
                    </p>

                    <p>
                        <label for="album"></label>
                        <input type="text" name="album"
                            placeholder="Album title" required>
                        </input>
                    </p>

                    <p>
                        <label for="artists"></label>
                        <input type="text" name="artists"
                            placeholder="Artist(s), for example 'Daryl Hall & John Oates'" required>
                        </input>
                    </p>

                    <p>
                        <label for="track_num"></label>
                        <input type="text" name="track_num"
                            placeholder="Track number">
                    </input>
                    </p>

                    <p>
                        <label for="date"></label>
                        <input type="text" name="date"
                            placeholder="Release date (yyyy-mm-dd)">
                        </input>
                    </p>
                
                <p>
                    <button id="sub_button" type="submit">Submit</button>
                </p>
                <input type="hidden" name="song_added" value="{{ song_added }}">

            </form>
        <div id="submit1_form"></div> 
    </div>
    
    {% if song_added == 'false' %}
        <script>
            window.onload = function() {
                alert("We could not add your song because it already exists in the database");
            }
            song_added = 'true'
        </script>
         
    {% endif %}
{% endblock %}


