{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all_data.css') }}">
{% endblock %}

{% block content %}    
    <h1>All of our songs in a table <br> </h1>
    <div id="table-container"></div>
    <table>
        <tr>
            <th>Artists</th>
            <th>Album</th>
            <th>Song name</th>
            <th>Track Number</th>
            <th>Release Date</th>
          </tr>
        {% for row in music %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}